# Assignment - A: Build a Regression Model in Keras

## Download and Clean Dataset

Let's start by importing the pandas and the Numpy libraries.

In [16]:
import pandas as pd
import numpy as np

We will be using the same dataset provided in the course.

The dataset is about the compressive strength of different samples of concrete based on the volumes of the different ingredients that were used to make them. Ingredients include:

1. Cement
2. Blast Furnace Slag
3. Fly Ash
4. Water
5. Superplasticizer
6. Coarse Aggregate
7. Fine Aggregate

Let's read the dataset into a *pandas* dataframe.

In [17]:
concrete_data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

So the first concrete sample has 540 cubic meter of cement, 0 cubic meter of blast furnace slag, 0 cubic meter of fly ash, 162 cubic meter of water, 2.5 cubic meter of superplaticizer, 1040 cubic meter of coarse aggregate, 676 cubic meter of fine aggregate. Such a concrete mix which is 28 days old, has a compressive strength of 79.99 MPa.

Let's check how many data points we have.

In [18]:
concrete_data.shape

(1030, 9)

So, there are approximately 1000 samples to train our model on. Because of the few samples, we have to be careful not to overfit the training data.

Let's check the dataset for any missing values.

In [19]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [20]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

The data looks very clean and is ready to be used to build our model.

### Split data into predictors and target

The target variable in this problem is the concrete sample strength. Therefore, our predictors will be all the other columns.

In [21]:
concrete_data_columns = concrete_data.columns

predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

Let's do a quick sanity check of the predictors and the target dataframes.

In [22]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [23]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

Let's save the number of predictors to n_cols since we will need this number when building our network.

In [24]:
n_cols = predictors.shape[1] # number of predictors
n_cols

8

## Build a Baseline Model

### Import Keras

The extremely powerful and yet-easy-to-use **Keras** library runs on top of a low-level library such as **TensorFlow** or **PyTorch**. In this case, this assignment will be using **TensorFlow** as a backend.

In [25]:
import keras

As you can see, the TensorFlow backend was used to install the Keras library.

Let's import the rest of the packages from the Keras library that we will need to build our regressoin model.

In [26]:
from keras.models import Sequential
from keras.layers import Dense

### Build a Neural Network

Let's define a function that defines our regression model for us so that we can conveniently call it to create our model.

In [27]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

The above function create a model using the following settings:
- 1 hidden layer of *10 nodes*
- *ReLU* activation function
- *adam* optimizer
- *mean squared error* for the loss function

### Generate the Test Dataset

Let's import scikit-learn in order to randomly split the data into a training and test sets

In [28]:
from sklearn.model_selection import train_test_split

Randomly split the data into a training and test sets by holding 30% of the data for testing.

In [29]:
X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=42)

### Train and Evaluate the Neural Network Model

Let's call the function now to create our model.

In [30]:
# build the model
model = regression_model()

Next, we will train the model for 50 epochs with 1 verbose setting.

In [31]:
# fit the model - 50 epochs with 1 verbose setting
model.fit(X_train, y_train, epochs=50, verbose=1)

Epoch 1/50
721/721 [==============================] - 1s 936us/step - loss: 32665.9379
Epoch 2/50
721/721 [==============================] - 0s 475us/step - loss: 6886.2833
Epoch 3/50
721/721 [==============================] - 0s 500us/step - loss: 997.0643
Epoch 4/50
721/721 [==============================] - 0s 306us/step - loss: 655.3500
Epoch 5/50
721/721 [==============================] - 0s 308us/step - loss: 623.8074
Epoch 6/50
721/721 [==============================] - 0s 327us/step - loss: 598.5653
Epoch 7/50
721/721 [==============================] - 0s 329us/step - loss: 576.7319
Epoch 8/50
721/721 [==============================] - 0s 331us/step - loss: 555.8436
Epoch 9/50
721/721 [==============================] - 0s 359us/step - loss: 534.3995
Epoch 10/50
721/721 [==============================] - ETA: 0s - loss: 529.598 - 0s 280us/step - loss: 515.4269
Epoch 11/50
721/721 [==============================] - 0s 387us/step - loss: 494.9497
Epoch 12/50
721/721 [==============================] - 0s 306us/step - loss: 476.9245
Epoch 13/50
721/721 [==============================] - 0s 304us/step - loss: 458.0015
Epoch 14/50
721/721 [==============================] - 0s 308us/step - loss: 441.4086
Epoch 15/50
721/721 [==============================] - 0s 299us/step - loss: 424.9647
Epoch 16/50
721/721 [==============================] - 0s 304us/step - loss: 409.7140
Epoch 17/50
721/721 [==============================] - 0s 383us/step - loss: 395.1305
Epoch 18/50
721/721 [==============================] - 0s 334us/step - loss: 381.3005
Epoch 19/50
721/721 [==============================] - 0s 419us/step - loss: 369.0970
Epoch 20/50
721/721 [==============================] - 0s 467us/step - loss: 356.1923
Epoch 21/50
721/721 [==============================] - 0s 335us/step - loss: 345.5145
Epoch 22/50
721/721 [==============================] - 0s 362us/step - loss: 334.3886
Epoch 23/50
721/721 [==============================] - 0s 439us/step - loss: 324.1224
Epoch 24/50
721/721 [==============================] - 0s 382us/step - loss: 314.3246
Epoch 25/50
721/721 [==============================] - 0s 336us/step - loss: 305.4673
Epoch 26/50
721/721 [==============================] - 0s 352us/step - loss: 296.7671
Epoch 27/50
721/721 [==============================] - 0s 335us/step - loss: 289.4308
Epoch 28/50
721/721 [==============================] - 0s 354us/step - loss: 281.6416
Epoch 29/50
721/721 [==============================] - 0s 334us/step - loss: 273.9346
Epoch 30/50
721/721 [==============================] - 0s 384us/step - loss: 267.2990
Epoch 31/50
721/721 [==============================] - 0s 441us/step - loss: 261.1957
Epoch 32/50
721/721 [==============================] - 0s 387us/step - loss: 255.0925
Epoch 33/50
721/721 [==============================] - 0s 663us/step - loss: 248.8658
Epoch 34/50
721/721 [==============================] - 0s 391us/step - loss: 243.0937
Epoch 35/50
721/721 [==============================] - 0s 547us/step - loss: 237.0225
Epoch 36/50
721/721 [==============================] - 0s 393us/step - loss: 231.6877
Epoch 37/50
721/721 [==============================] - 0s 556us/step - loss: 227.2919
Epoch 38/50
721/721 [==============================] - 0s 442us/step - loss: 220.5626
Epoch 39/50
721/721 [==============================] - 0s 613us/step - loss: 214.7656
Epoch 40/50
721/721 [==============================] - 0s 497us/step - loss: 209.5274
Epoch 41/50
721/721 [==============================] - 0s 417us/step - loss: 204.8442
Epoch 42/50
721/721 [==============================] - 0s 447us/step - loss: 198.8136
Epoch 43/50
721/721 [==============================] - 0s 686us/step - loss: 194.5858
Epoch 44/50
721/721 [==============================] - 0s 420us/step - loss: 189.1188
Epoch 45/50
721/721 [==============================] - 0s 354us/step - loss: 185.4631
Epoch 46/50
721/721 [==============================] - 0s 416us/step - loss: 180.1898
Epoch 47/50
721/721 [==============================] - 0s 304us/step - loss: 176.0099
Epoch 48/50
721/721 [==============================] - 0s 334us/step - loss: 171.9409
Epoch 49/50
721/721 [==============================] - 0s 361us/step - loss: 169.1085
Epoch 50/50
721/721 [==============================] - 0s 304us/step - loss: 164.3619

Next we need to evaluate the model on the test data.

In [32]:
# evaluate the model using the test dataset
loss_val = model.evaluate(X_test, y_test)

# varify the prediction
y_pred = model.predict(X_test)

# output the evaluate value
print(loss_val)

# output the prediction
# print(y_pred)

309/309 [==============================] - 0s 266us/step
152.3758622944162

Now we need to compute the mean squared error between the predicted concrete strength and the actual concrete strength.

Let's import the *mean_squared_error* function from *scikit-learn*.

In [33]:
from sklearn.metrics import mean_squared_error

In [34]:
mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(mean, standard_deviation)

152.37585969477814 0.0

Create a list of 50 mean squared errors and report mean and the standard deviation of the mean squared errors.

In [ ]:
total_mean_squared_errors = 50
epochs = 50

mean_squared_errors = []

for i in range(0, total_mean_squared_errors):
    # split the train and test datasets
    X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=i)
    
    # fit the model
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    
    # evaluate the model
    mse = model.evaluate(X_test, y_test, verbose=0)
    print("mean_square_error at " + str(i+1) + " is " + str(mse))
    
    # get the prediction
    y_pred = model.predict(X_test)
    
    # get the mean square error
    mean_square_error = mean_squared_error(y_test, y_pred)
    
    # append result to the mean_squared_errors list
    mean_squared_errors.append(mean_square_error)

# convert to array list
mean_squared_errors = np.array(mean_squared_errors)

# get mean value from the array list
mean = np.mean(mean_squared_errors)

# get standard deviation using the array list
standard_deviation = np.std(mean_squared_errors)

print('\n')
print('\n')
print("The output below is the mean and standard deviation of " + str(total_mean_squared_errors) + " mean squared errors without normalized data.")
print("- Number of epochs for each training: " + str(epochs))
print("- Mean: " + str(mean))
print("- Standard Deviation: " + str(standard_deviation))

mean_square_error at 1 is 96.79728185166047
mean_square_error at 2 is 114.27247770241549
mean_square_error at 3 is 96.05810544405941
mean_square_error at 4 is 113.53863062441928
mean_square_error at 5 is 119.48276087689939
mean_square_error at 6 is 100.89888220234596
mean_square_error at 7 is 114.78239831029404
mean_square_error at 8 is 81.04819714444355
mean_square_error at 9 is 87.31433759769575
mean_square_error at 10 is 78.92215407782003
mean_square_error at 11 is 67.97479146815427
mean_square_error at 12 is 67.4282173601169
mean_square_error at 13 is 73.80794332559826
mean_square_error at 14 is 74.69526706930117
mean_square_error at 15 is 68.00473195295118
mean_square_error at 16 is 53.420860636195705
mean_square_error at 17 is 62.30378966346913
mean_square_error at 18 is 64.03294441692266
mean_square_error at 19 is 49.73728149068394
mean_square_error at 20 is 63.014853912649805
mean_square_error at 21 is 46.71802463963579
mean_square_error at 22 is 46.59614669157849
mean_square_error at 23 is 44.62273434142079
mean_square_error at 24 is 46.953861755074804
mean_square_error at 25 is 47.85882296762806
mean_square_error at 26 is 52.94317478809542
mean_square_error at 27 is 51.79738658917375
mean_square_error at 28 is 43.607843466946996
mean_square_error at 29 is 52.62318098197863
mean_square_error at 30 is 50.71572101309076
mean_square_error at 31 is 52.51281975310983
mean_square_error at 32 is 49.10599190671853
mean_square_error at 33 is 47.85835584621985
mean_square_error at 34 is 49.73888612024992
mean_square_error at 35 is 47.58527394020056
mean_square_error at 36 is 53.50162519683344
mean_square_error at 37 is 52.52617083552586
mean_square_error at 38 is 53.20492738890417
mean_square_error at 39 is 46.951055236618885
mean_square_error at 40 is 42.847223967024426
mean_square_error at 41 is 54.617606857447946